#left > *{
    padding:10px;
}
div.acc-name{
    float:left;
}
div.acc-balance{
    float:right;
}

div.add-account-form{
    display:none;
    padding:5px;
}
div.add-account-form > table{
    white-space: nowrap;    
}
a#add-account-button > span.enter-key{
    position: absolute;
    padding-left: 2px;
    padding-top: 3px;
}
a#add-account-button.form-active{
    padding-right:25px;
}

div.account{
    float: left;
    width: 100%;
    padding-bottom: 2px;
}
div.total-balance{
    margin-top: 10px;
    padding-bottom: 0 !important;
}
div.add-button-container{
    text-align: center;
}