.text-blue{
    color:#29ADB2;
}
.text-white{
    color:#fff;
}
.text-gray{
    color:#868686;
}
.text-black{
    color:#000;
}
a{
    outline: none;
    text-decoration: none;
    color:#005f82;
    font-size: 13px;
}
div.jGrowl-message a{
    color:#29adb2 !important;
}
a:hover{
    text-decoration: underline;
}
.fw_b{
    font-weight: bold;
}
.sum{
    color:#0093c8;
}
.currency{
    font-size: 10px;
    color: #005f82;
}

.fs10{
    font-size: 10px;
}
.fs20{
    font-size: 20px;
}
.fs30{
    font-size: 30px;
}
.lh30{
    line-height: 30px;
}

input[type=text]{
    border: 1px solid #0093c8;
    border-radius: 2px;
    height: 22px;
    padding: 0 5px;
}
input[type=text]:focus{
    border-color:#404040;
    /*border-radius: 5px;*/
}
input[type=text].error{
    border-color:#f00;
}


div.clear{
    border: 0 none;
    clear: both;
    float: none;
    font-size: 0;
    line-height: 0;
    padding:0 !important;
    margin:0 !important;
    width: 100%
}
.h20{
    height: 20px;
}
.h10{
    height: 10px;
}
.h5{
    height: 5px;
}

.float-left{
    float: left;
}
.float-right{
    float: right;
}
.ta_r{
    text-align: right;
}
.ta_l{
    text-align: left;
}

/* buttons */
.button {
	 background: -moz-linear-gradient(center top , #0093c8 5%, #005f82 100%) repeat scroll 0 0 #0093c8;
    border: 1px solid #dcdcdc;
    border-radius: 6px;
    box-shadow: 0 1px 0 0 #0093c8 inset;
    color: #ffffff;
    display: inline-block;
    font-family: Arial;
    font-size: 15px;
    font-style: normal;
    font-weight: bold;
    line-height: 30px;
    margin: 0 10px;
    padding: 0 20px;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    text-shadow: 1px 1px 0 #000000;
}
.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #005f82), color-stop(1, #0093c8) );
	background:-moz-linear-gradient( center top, #005f82 5%, #0093c8 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#005f82', endColorstr='#0093c8');
	background-color:#005f82;
        text-decoration: none;
}.button:active {
	position:relative;
	top:1px;
}
span.enter-key:before{
    content: "⏎";
    font: 20px/20px Tahoma,Verdana,sans-serif;
}

h1{
    font-size: 20px;
    line-height: 30px;
}